<% if reply.likes.where(user:current_user).count == 0 %>
  <span  class="suggestions"><%= link_to likes_path(reply,type:'comment'),method: :post,:remote => true do %> <i class="far fa-heart"></i> <% end  %> <span><%= reply.likes.count %></span> </span>
<% else %>
<span class="suggestions"><%= link_to like_path(reply.likes.where(user:current_user).first,type:'comment'),method: :delete,:remote => true do %><i class="fas fa-heart heart"></i> <% end %> <span><%= reply.likes.count %></span></span>
<% end %>
