<% if current_user %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/left_side' %>
      <div class="col-sm-9 second_half_page ">
        <h1>Micropost Feeds</h1>
        <%= render 'microposts/micropost' %>

      </div>
  </div>
</div>



<% else %>
  <div class="container jumbo">
    <div class="jumbotron centralize">
      <h2><strong>Welcome to the new Social Networking Experience</strong></h2>
      <h2><small>Check out the new features</small></h2>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">  Sign up  </a>
      </p>
    </div>

  </div>


<% end %>
