@import "bootstrap-sprockets";
@import "bootstrap";
/*
*= require select2
*= require select2-bootstrap

 *= require jquery-ui
  *= require_tree .
 */

.sign{
  width: 50%;
  margin-top: 80px;
}

.butn{
  margin-top: 8px;
}

.links{
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.centralize{
  text-align: center;
}



.footer {
  position: relative;
  bottom:0px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-right: 15px;
}

.profile_name{
  font-size:20px;
}
.profile_pic{
  padding-left: 0px;
  padding-right: 0px;
}

.profile_atrributes{

  padding-right: 0px;
}

.share_post{
  margin-top: 60px;
  height: 95px;
  width: 100%;
  margin: 10px;
}

.second_half_page{
  float: right;
  padding-right: 20px;
  padding-left: 0px;
  margin-right: 10px;
}

.share_button{
  width: 96px;
  margin-left: 10px;
}

.micropost{
  margin-top: 20px;
}

.micropost > li{
  margin-bottom: 20px;
  list-style-type: none;
  background-color: #C5E3ED;
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-radius: 7px;

}



.float_right{
  float: right;
}

#uplaoder{
  display: inline;
}

.picture > input{
  display: inline;
}

.stats_box{
  margin-top: 20px;
}

.stats_value{
  color: #00a2ed;
  font-size: 18px;
}

.followbtn{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 12px;
  display: inline !important;
}

#nested_comments {
  list-style-type: none;
}
