
@import "bootstrap";

/*
*= require select2
*= require select2-bootstrap

 *= require jquery-ui
  *= require_tree .
 */

.sign{
  width: 50%;
  margin-top: 80px;
}

.butn{
  margin-top: 8px;
}

.links{
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.centralize{
  text-align: center;
}



.footer {
  position: relative;
  bottom:0px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-right: 15px;
}

.profile_name{
  font-size:20px;
}
.profile_pic{
  padding-left: 0px;
  padding-right: 0px;
}

.profile_atrributes{

  padding-right: 0px;
}

#share_post{
  height: 95px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 7px;
}

.title_tag{

  width: 100%;

}

.second_half_page{
  float: right;
  padding-right: 20px;
  padding-left: 0px;
  margin-right: 10px;
}

.share_button{
  width: 96px;
  margin-left: 10px;

}

.modal-lg{
  width:600px;
}

.micropost{
  margin-top: 20px;
}

.micropost > li{
  margin-bottom: 20px;
  list-style-type: none;
  background-color: #C5E3ED;
  padding-top: 15px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-radius: 7px;

}



.float_right{
  float: right;
}

#uplaoder{
  display: inline;
}

.picture > input{
  display: inline;

}

.stats_box{
  margin-top: 20px;
}

.stats_value{
  color: #00a2ed;
  font-size: 18px;
}

.followbtn{
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 12px;
  display: inline !important;
}

#nested_comments {
  list-style-type: none;
}

#states-2{
  background-color: white
}

#inlineFormCustomSelect{
  width: 150px;
  float: right;
}






//bootstrap extra




#image{
  padding: 0;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

#radio_group{

    margin-bottom: 0px;
    margin-top: 10px;

}

#radioBtn a{
  padding: 4px;
}

@media screen and (max-width: 600px) {
  .icon_names{
    display: none;
  }
  #radio_group{
  display: none;

  }
}

// sliding search bar
#searchbar
{
  position: relative;
}

#searchbar #sliding-panel-outer
{
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0px;
  width: 200px;
  transition: width 0.4s ease;
}

#searchbar #sliding-panel-inner
{
  width: 200px;
}

#searchbar .search-label
{
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 30px;
}

#searchbar .search-label .fa-times,
#searchbar.collapsed .search-label .fa-search
{
  display: inline-block;
}
#searchbar .search-label .fa-search,
#searchbar.collapsed .search-label .fa-times
{
  display: none;
}

#searchbar.collapsed #sliding-panel-outer
{
  width: 0px;
}


#states-2{
position: absolute;

top: 46px;
width: 198px;
right: 1px;
overflow: visible;
z-index: 100;
display: none;
}

.dd-select{
  display: hidden;
}

.nav-item{
  font-size: 19px;
}

.fa{
  color: blue;
}

.search-label{
  font-size: 19px;
  margin-top: 5px;
}

#colour{
  color: white;
}

.navbar-brand{
  position: absolute;
  right: 50%;

      height: 40px;
      margin-top: 5px;

}

#search_li{

    margin-top: 7px;
    margin-right: 15px;

}

#login_li{
  position: absolute;
  right: 8px;
}

.jumbo{
  margin-top: 150px;
margin-bottom: 100px;
}

#tags{
  width: 100%;
  margin-bottom: 15px;
}
