<div class="container-fluid stats_box">
  <div class="row">
      <div class="col-sm-6 ">
        <div class=""> <strong>Following</strong> </div>
        <div class="stats_value"> <strong><%= @user.following.count %></strong> </div>
       </div>
      <div class="col-sm-6 ">
        <div class=""> <strong> Followers</strong></div>
        <div class="stats_value"> <strong><%= @user.followers.count %></strong> </div>
      </div>
  </div>
</div>
