
<% if current_user %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/left_side' %>
      <div class="col-sm-9 second_half_page ">
        <h1>Micropost Feeds</h1>
        <%= render 'microposts/micropost' %>
      </div>
  </div>
</div>
<% end %>
