
<% if current_user %>

<section class="flex_container">
  <div class="left-half">
    <%= render 'layouts/left_side' %>
  </div>
  <div class="center-half">
    <%= render 'microposts/micropost' %>
  </div>
  <div class="right-half">

  </div>

</section>
<% end %>
